* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131419;
}

.errMsg {
    color: #ffffff;
}

.form {
    position: relative;
    width: 400px;
    padding: 40px 40px 60px;
    border-radius: 10px;
    background: #131419;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
}

    .form h2 {
        color: #c7c7c7;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .form .input {
        margin-top: 40px;
        text-align: left;
    }

        .form .input .inputBox {
            margin-top: 20px;
        }

            .form .input .inputBox label {
                display: block;
                color: #868686;
                margin-bottom: 5px;
                font-size: 18px;
            }

            .form .input .inputBox input {
                width: 100%;
                height: 50px;
                color: #03a9f4;
                background: #131419;
                border: none;
                outline: none;
                border-radius: 40px;
                padding: 5px 15px;
                font-size: 18px;
                box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
            }

                .form .input .inputBox input[type="submit"] {
                    margin-top: 20px;
                    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
                }

                    .form .input .inputBox input[type="submit"]:active {
                        color: #006c9c;
                        margin-top: 20px;
                        box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
                    }

                .form .input .inputBox input::placeholder {
                    color: #555;
                    font-size: 18px;
                }

.haveAcc {
    margin-top: 30px;
    color: #555;
}

    .haveAcc a {
        color: #ff0047;
    }

