<form action="/blog" method="post">
    <div class="container">
        <div class="row p-1">
            <div class="col-1">Title</div>
            <div class="col-5"><input type="text" name="Blog_Title" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Author</div>
            <div class="col-5"><input type="text" name="Blog_Author" /></div>
        </div>
        <div class="row p-1">
            <div class="col-1">Content</div>
            <div class="col-5"><input type="text" class="w-100" name="Blog_Content" /></div>
        </div>
        <div class="row p-1">
            <div class="col-6 text-end">
                <input type="submit" value="Save" />
            </div>
        </div>
    </div>
</form>